html,
body {
    height: 100%;
    overflow: hidden;
}

.navbar {
    width: 100%;
    min-height: 67px;
    padding: 0 239px 0 254px;
}
.logo {
    height: 57px;
    margin: 5px 17px 5px 0;
}

.admin {
    display: inline-block;
    width: 86px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #ECF4FF;
    border-radius: 2px 2px 2px 2px;
    opacity: 1;
    border: 1px solid #CCE2FF;
    font-size: 11px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #2765F6;
}
.admin .icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/pc.png) no-repeat left center;
    background-size: 100% 100%;
    margin-right: 2px;
    vertical-align: top;
    margin-top: 5px;
}
.help {
    font-size: 11px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: #2765F6;
    line-height: 21px;
    margin-right: 18px;
}
.help:hover {
    text-decoration: none;
}
header .goto_weita {
    width: 90px;
    height: 32px;
    line-height: 32px;
    font-size: 11px;
    border-radius: 75px;
}
.signin {
    background: #F3F7F9;
    flex: 1;
}
.form-signin {
    width: 450px;
    /* height: 545px; */
    margin-top: 50px;
}
.code {
    width: 47px;
    height: 47px;
    float: right;
    margin: 14px 12px 16px 0;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
}
.tip {
    font-size: 11px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #999FAA;
}
.wx_icon {
    float: left;
    width: 17px;
    height: 17px;
    background: url(../img/wx.png) no-repeat left center;
    background-size: 100% 100%;
    margin-right: 10px;
}

.form-signin .title {
    clear: both;
    font-size: 23px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #2765F6;
    line-height: 34px;
    text-align: center;
    margin-bottom: 2px;
}
.form-signin .input-group {
    width: 315px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #DDE0E6;
    margin-top: 23px;
}
.input-group {
    margin: 0 auto;
}
.input-group .form-control {
    border: none;
    height: unset;
}
.form-control:focus {
    box-shadow: none;
}
.input-group-icon {
    width: 15px;
    height: 15px;
    margin: 15px 0 0 18px;
}
.get_code {
    width: 105px;
    height: 32px;
    line-height: 32px;
    background: #2765F6;
    border-radius: 75px 75px 75px 75px;
    padding: 0;
    font-size: 11px;
    margin-top: 6px;
    margin-right: 8px;
    border: none;
}
.read-agree {
    width: 315px;
    height: 16px;
    font-size: 11px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #999FAA;
    margin: 18px auto 23px;
    
}
.form-check-input {
    border: 1px solid #DDE0E6;
    margin-top: 2px;
}
.registry {
    width: 315px;
    height: 45px;
    font-size: 14px;
    background: #2765F6;
    border-radius: 6px 6px 6px 6px;
    margin: 0 auto 18px;
}
.login-text {
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 11px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #999FAA;
    margin-bottom: 29px;
}
.vta_footer {
    width: 578px;
    font-size: 11px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: #999FAA;
    line-height: 17px;
    text-align: center;
    margin: 40px auto 20px;
}
input::-webkit-input-placeholder {
    font-size: 11px;
    font-family: Source Han Sans CN-Regular, Source Han Sans CN;
    font-weight: 400;
    color: #DDE0E6;
}